aside.sidebar
    ul.sidebar__list
        li.sidebar__item.active
            a(href="").sidebar__link О бренде
        li.sidebar__item
            a(href="").sidebar__link Статьи
        li.sidebar__item
            a(href="").sidebar__link Отзывы
        li.sidebar__item
            a(href="").sidebar__link Референс-лист
        li.sidebar__item
            a(href="").sidebar__link Сертификаты