footer.footer
    .container
        .footer__row.flex-wrap
            .footer__col.footer__col_copyright
                a(href="")
                    img(src="img/icon/logo-footer.svg", alt="")
                p © 2019 Pioneer.<br>Все права защищены
            .footer__col
                ul.footer__list
                    li.footer__item
                        a(href="") О бренде
                    li.footer__item
                        a(href="") История
                    li.footer__item
                        a(href="") Статьи
                    li.footer__item
                        a(href="") Отзывы
            .footer__col
                ul.footer__list
                    li.footer__item
                        a(href="") Каталог
                    li.footer__item
                        a(href="") Бытовые кондиционеры
                    li.footer__item
                        a(href="") Полупромышленные кондиционеры
                    li.footer__item
                        a(href="") Мультизональные системы VRF
                    li.footer__item
                        a(href="") Оборудование для телекоммуникаций
                    li.footer__item
                        a(href="") Оборудование для увлажнения
            .footer__col
                ul.footer__list
                    li.footer__item
                        a(href="") Клиентам
                    li.footer__item
                        a(href="") Сервис
                    li.footer__item
                        a(href="") Контакты
                    li.footer__item
                        a(href="") Прайс-лист для дилеров
                ul.footer__list
                    li.footer__item
                        a(href="") Архив серий
                    li.footer__item
                        a(href="") Бытовые кондиционеры
            .footer__col.footer__col_contacts
                ul.footer__list
                    li.footer__item Контактная информация
                    li.footer__item 
                        a(href="tel:8 (800) 200 02 40").flex.aic
                            i.i-phone
                            span 8 (800) 200 02 40
                    li.footer__item 
                        a(href="mailto:info@pioneer-air.ru").flex.aic
                            i.i-mail
                            span info@pioneer-air.ru
                .footer__dev
                    a(href="https://www.alkodesign.ru/" target="_blank").flex-wrap.aic
                        span Разработка сайта:
                        img(src="img/digimatix.svg", alt="")