header.header.header--shadow
    .container
        .header__row.flex-wrap.aic
            .header__col.header__col_logo
                a.header__logo(href="")
                    img(src="img/logo.svg", alt="")
            .header__col.header__col_list
                ul.header__list.flex.aic
                    li.header__item
                        a(href="/about.html").header__link.flex.aic
                            span О бренде
                            i.i-arrow-down
                    li.header__item.js-open-catalog-menu
                        a(href="/catalog.html").header__link.flex.aic
                            span Каталог
                            i.i-arrow-down
                    li.header__item
                        a(href="/price.html").header__link.flex.aic
                            span Прайс-лист для дилеров
                    li.header__item
                        a(href="/service.html").header__link.flex.aic
                            span Сервис
                    li.header__item
                        a(href="/contacts.html").header__link.flex.aic
                            span Контакты
            .header__col.header__col_search.flex.jce
                .header__search
                    .header__search-btn
                        i.i-search
                    .header__search-wrapper
                        .container
                            .header__search-row.flex.aic
                                i.i-search
                                form(action="")
                                    input(type="text" placeholder="Ваш поисковый запрос")
                                .header__search-close
                                    i.i-close
            .header__toggle.js-open-m-menu
                .header__toggle-btn
                    span
            .m-menu.m-menu--main
                .m-menu__top
                    .header__toggle.active.js-close-m-menu
                        .header__toggle-btn
                            span
                ul.m-menu__list
                    li.m-menu__item
                        a(href="").m-menu__link.flex.aic.jcsb
                            span О бренде
                    li.m-menu__item.js-open-m-menu-catalog
                        a(href="").m-menu__link.flex.aic.jcsb
                            span Каталог
                            i.m-menu__arrow
                    li.m-menu__item
                        a(href="").m-menu__link.flex.aic.jcsb
                            span Прайс-лист для дилеров
                    li.m-menu__item
                        a(href="").m-menu__link.flex.aic.jcsb
                            span Сервис
                    li.m-menu__item
                        a(href="").m-menu__link.flex.aic.jcsb
                            span Контакты
                .m-menu__contacts
                    a(href="tel:8 (800) 200 02 40").m-menu__contacts-link.flex.aic
                        i.i-phone
                        span 8 (800) 200 02 40
                    a(href="mailto:info@pioneer-air.ru").m-menu__contacts-link.flex.aic
                        i.i-mail
                        span info@pioneer-air.ru
            .m-menu.m-menu--catalog
                .m-menu__top.flex.aic.jcsb
                    .m-menu__back.js-close-m-menu-catalog
                        i.m-menu__arrow.m-menu__arrow--left.m-menu__arrow--red
                    .m-menu__title Каталог
                    .header__toggle.active.js-close-m-menu
                        .header__toggle-btn
                            span
                ul.m-menu__list
                    li.m-menu__item
                        a(href="").m-menu__link.flex.aic.jcsb
                            span Бытовые кондиционеры
                    li.m-menu__item
                        a(href="").m-menu__link.flex.aic.jcsb
                            span Мульти-сплит системы
                            i.m-menu__arrow.m-menu__arrow--bottom.m-menu__arrow--red
                        ul.m-menu-sublist
                            li.m-menu-sublist__item.active
                                a(href="").m-menu-sublist__link Наружные блоки
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Канальные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Кассетные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Варианты подключения
                    li.m-menu__item
                        a(href="").m-menu__link.flex.aic.jcsb
                            span Полупромышленные кондиционеры
                            i.m-menu__arrow.m-menu__arrow--bottom.m-menu__arrow--red
                        ul.m-menu-sublist
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Наружные блоки
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Канальные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Кассетные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Варианты подключения
                    li.m-menu__item
                        a(href="").m-menu__link.flex.aic.jcsb
                            span Фэн-койлы
                            i.m-menu__arrow.m-menu__arrow--bottom.m-menu__arrow--red
                        ul.m-menu-sublist
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Наружные блоки
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Канальные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Кассетные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Варианты подключения
                    li.m-menu__item
                        a(href="").m-menu__link.flex.aic.jcsb
                            span Мультизональные системы VRF
                            i.m-menu__arrow.m-menu__arrow--bottom.m-menu__arrow--red
                        ul.m-menu-sublist
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Наружные блоки
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Канальные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Кассетные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Варианты подключения
                    li.m-menu__item
                        a(href="").m-menu__link.flex.aic.jcsb
                            span Оборудование для телекоммуникаций
                            i.m-menu__arrow.m-menu__arrow--bottom.m-menu__arrow--red
                        ul.m-menu-sublist
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Наружные блоки
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Канальные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Кассетные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Варианты подключения
                    li.m-menu__item
                        a(href="").m-menu__link.flex.aic.jcsb
                            span Оборудование для увлажнения
                            i.m-menu__arrow.m-menu__arrow--bottom.m-menu__arrow--red
                        ul.m-menu-sublist
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Наружные блоки
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Канальные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Кассетные модели
                            li.m-menu-sublist__item
                                a(href="").m-menu-sublist__link Варианты подключения

    .header-submenu__wrapper
        .header-submenu__arrow
        .header-submenu__container
            .header-submenu__row.flex-wrap
                ul.header-submenu__list
                    li.header-submenu__item
                        a(href="").header-submenu__link Бытовые кондиционеры
                        ul.header-submenu-nested
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Серия Artis
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Серия Fortis
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Серия Fortis ECO
                    li.header-submenu__item
                        a(href="").header-submenu__link Бытовые кондиционеры
                        ul.header-submenu-nested
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Наружные блоки
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Канальные модели
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Кассетные модели
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Варианты подключения

                ul.header-submenu__list
                    li.header-submenu__item
                        a(href="").header-submenu__link Полупромышленные кондиционеры
                        ul.header-submenu-nested
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Универсальные наружные блоки
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Напольно - подпотолочные модели
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Канальные модели
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Кассетные модели
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Высоконапорные канальные модели
                    li.header-submenu__item
                        a(href="").header-submenu__link Фэн-койлы
                        ul.header-submenu-nested
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link KWDL – канальный, низконапорный
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link KWDH – канальный, высоконапорный
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link KWCF – кассетный, 4-поточный
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link KWWM-C – настенный
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link KWUD и KWUС – универсальный
                ul.header-submenu__list
                    li.header-submenu__item
                        a(href="").header-submenu__link Мультизональные системы VRF
                        ul.header-submenu-nested
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Наружные блоки
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Настенные внутренние блоки
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Кассетные внутренние блоки
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Напольно - подпотолочные внутренние блоки
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Канальные внутренние блоки
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Система управления кондиционером
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Программа подбора
                ul.header-submenu__list
                    li.header-submenu__item
                        a(href="").header-submenu__link Оборудование для телекоммуникаций
                        ul.header-submenu-nested
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Теплообменные установки (Серия KHX)
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Естественное охлаждение (Серия KCB)
                    li.header-submenu__item.header-submenu__item--bordered
                        a(href="").header-submenu__link Оборудование для увлажнения
                        ul.header-submenu-nested
                            li.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Паровые увлажнители серия SMART
                            li.header-submenu-nested__item.header-submenu-nested__item
                                a(href="").header-submenu-nested__link Паровые увлажнители серия CLASSIC