.navigation
    ul.navigation__list.flex.aic
        li.navigation__item.navigation__item--prev
            a(href="").navigation__link.flex.aic
                i.i-arrow--back
                span Предыдущая
        li.navigation__item.navigation__item
            a(href="").navigation__link К списку статей
        li.navigation__item.navigation__item--next
            a(href="").navigation__link.flex.aic
                span Следующая
                i.i-arrow--back