<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UEL
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            include _header
            section.about
                .background-line
                    .background-line__item.background-line__item-1
                    .background-line__item.background-line__item-2
                    .background-line__item.background-line__item-3
                    .background-line__item.background-line__item-4
                    .background-line__item.background-line__item-5
                    .background-line__item.background-line__item-6
                    .background-line__item.background-line__item-7
                .back-title.back-title--animate pioneer
                .container
                    .about__row.flex-wrap
                        .about__col.about__col--sidebar
                            include _aside
                        .about__col.about__col--content
                            .about__content
                                .detail-tabs__wrapper.about__tabs
                                    ul.detail-tabs__list.flex
                                        li.detail-tabs__item.detail-tabs__item--active.active
                                            a(href="").detail-tabs__link О бренде
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Статьи
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Отзывы
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Референс-лист 
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Сертификаты
                                .about-desc.flex-wrap.aic
                                    .about-desc__img
                                        img(src="img/about/about-top-img.svg", alt="")
                                    .about-desc__text
                                        p Инверторные кондиционеры Pioneer — это умные сплит-системы с лаконичным европейским дизайном, оснащенные мощными компрессорами для создания идеального микроклимата.
                                .timeline
                                    h1 История развития компании
                                    .line
                                        .line__top.flex.aic.jcc
                                            img(src="img/about/line-top.svg", alt="")
                                        .line__bottom
                                    ul.timeline__list.flex-wrap
                                        li.timeline__item
                                            .timeline__year 19
                                                span 93
                                                .mark
                                            .timeline__text 
                                                p Появление компании «Петроспек» на зарождающемся климатическом рынке России (на настоящий момент компания называется United Elements Group).
                                        li.timeline__item
                                            .timeline__year 19
                                                span 97
                                                .mark
                                            .timeline__text 
                                                p Появление торговой  марки Pioneer.
                                        li.timeline__item
                                            .timeline__year 20
                                                span 05
                                                .mark
                                            .timeline__text 
                                                p Появление первой линейки бытовых настенных сплит-систем и оконных моноблочных кондиционеров:
                                            ul.timeline-sublist.flex-wrap
                                                li.timeline-sublist__item
                                                    a(href="").timeline-sublist__link
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__title KC20G
                                                li.timeline-sublist__item
                                                    a(href="").timeline-sublist__link
                                                        .timeline-sublist__img
                                                            img(src="img/pr/2.png", alt="")
                                                        .timeline-sublist__title KFR25GW
                                        li.timeline__item
                                            .timeline__year 20
                                                span 06
                                                .mark
                                            .timeline__text 
                                                p Поступление в продажу on/of f серии:
                                            ul.timeline-sublist.flex-wrap
                                                li.timeline-sublist__item
                                                    a(href="").timeline-sublist__link
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__title KC20G
                                        li.timeline__item
                                            .timeline__year 20
                                                span 07
                                                .mark
                                            .timeline__text 
                                                p Выпуск серий, на фреоне R22:
                                            ul.timeline-sublist.flex-wrap
                                                li.timeline-sublist__item
                                                    a(href="").timeline-sublist__link
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__title KC20G
                                                li.timeline-sublist__item
                                                    a(href="").timeline-sublist__link
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__title KC20G
                                                li.timeline-sublist__item
                                                    a(href="").timeline-sublist__link
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__title KC20G
                                        li.timeline__item
                                            .timeline__year 20
                                                span 08
                                                .mark
                                            .timeline__text 
                                                p Появились инверторные сплит-системы Pioneer на хладагенте R410A:
                                            ul.timeline-sublist.flex-wrap
                                                li.timeline-sublist__item
                                                    a(href="").timeline-sublist__link
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__title KC20G
                                        li.timeline__item
                                            .timeline__year 20
                                                span 09
                                                .mark
                                            .timeline__text 
                                                p Появились полупромышленные модели кондиционеров Pioneer.
                                        li.timeline__item
                                            .timeline__year 20
                                                span 10
                                                .mark
                                            .timeline__text 
                                                p Появление on/off серии Smart:
                                            ul.timeline-sublist.flex-wrap
                                                li.timeline-sublist__item
                                                    a(href="").timeline-sublist__link
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__title KC20G
                                        li.timeline__item
                                            .timeline__year 20
                                                span 11
                                                .mark
                                            .timeline__text 
                                                p Новая on/off линейка Breeze на хладагенте R410A:
                                            ul.timeline-sublist.flex-wrap
                                                li.timeline-sublist__item
                                                    a(href="").timeline-sublist__link
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__title KC20G
                                        li.timeline__item
                                            .timeline__year 20
                                                span 12
                                                .mark
                                            .timeline__text 
                                                p Ребрендинг Pioneer:
                                                img(src="img/about/1.png", alt="")
                                        li.timeline__item
                                            .timeline__year 20
                                                span 13
                                                .mark
                                            .timeline__text 
                                                p Появление в ассортименте высоконапорных канальных кондиционеров, производящихся в Малайзии, мультисплит систем и мультизональных систем Pioneer.
                                                p Выпуск новых бытовых линеек:
                                            ul.timeline-sublist.timeline-sublist--column
                                                li.timeline-sublist__item.timeline-sublist__item--column
                                                    a(href="").timeline-sublist__link.flex
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__right
                                                            p 
                                                                span Ozon 
                                                                |on/off модель со встроенным ионизатором
                                                            .timeline-sublist__title KC20G
                                                li.timeline-sublist__item.timeline-sublist__item--column
                                                    a(href="").timeline-sublist__link.flex
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__right
                                                            p 
                                                                span Calipso 
                                                                |on/off с разнообразными пользовательскими режимами для большего комфорта 
                                                            .timeline-sublist__title KFR20CW
                                                li.timeline-sublist__item.timeline-sublist__item--column
                                                    a(href="").timeline-sublist__link.flex
                                                        .timeline-sublist__img
                                                            img(src="img/pr/2.png", alt="")
                                                        .timeline-sublist__right
                                                            p 
                                                                span Calipso DC Inverter 
                                                                | инверторные модели нового поколения, оснащенные мощными компрессорами и отличающиеся низким уровнем шума  
                                                            .timeline-sublist__title KFRI25GN
                                        li.timeline__item
                                            .timeline__year 20
                                                span 14
                                                .mark
                                            .timeline__text 
                                                p Появление на рынке фэн-койлов и телекомуникационных установок Pioneer.
                                            ul.timeline-sublist.timeline-sublist--column
                                                li.timeline-sublist__item.timeline-sublist__item--column
                                                    a(href="").timeline-sublist__link.flex
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__right
                                                            p 
                                                                span Ionic 
                                                                | on/off кондиционеры со встроенным ионизатором
                                                            .timeline-sublist__title KFR20IW
                                        li.timeline__item
                                            .timeline__year 20
                                                span 15
                                                .mark
                                            ul.timeline-sublist.timeline-sublist--column
                                                li.timeline-sublist__item.timeline-sublist__item--column
                                                    a(href="").timeline-sublist__link.flex
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__right
                                                            p 
                                                                span Albion 
                                                                | инверторные  модели современного дизайна, со встроенным ионизатором
                                                            .timeline-sublist__title KFRI25IW
                                        li.timeline__item
                                            .timeline__year 20
                                                span 16
                                                .mark
                                            .timeline__text 
                                                p Новый продукт в портфеле – паровые увлажнители Pioneer.
                                                p Появление в ассортименте Pioneer линейки 
                                                    span Pacific
                                                    | — on/off модели с ультранизким уровнем шума внутреннего блока.
                                            ul.timeline-sublist.flex-wrap
                                                li.timeline-sublist__item
                                                    a(href="").timeline-sublist__link
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__title KFRI25IW
                                        li.timeline__item
                                            .timeline__year 20
                                                span 17
                                                .mark
                                            .timeline__text 
                                                p Ребрендинг ТМ Pioneer
                                                img(src="img/about/2.png", alt="")
                                            .timeline__text 
                                                p Появились серии:
                                            ul.timeline-sublist.timeline-sublist--column
                                                li.timeline-sublist__item.timeline-sublist__item--column
                                                    a(href="").timeline-sublist__link.flex
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__right
                                                            p 
                                                                span Vektor 
                                                                | on/off сплит-системы с множеством полезных пользовательских функций
                                                            .timeline-sublist__title KFRI25IW
                                                li.timeline-sublist__item.timeline-sublist__item--column
                                                    a(href="").timeline-sublist__link.flex
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__right
                                                            p 
                                                                span Axioma 
                                                                | инверторная линейка, получившая сертификат на использование в медицинских и детских учреждениях 
                                                            .timeline-sublist__title KFRI25IW
                                            .timeline__text 
                                                p На рынок вышло новое  поколение  мультизональных систем Pioneer.
                                        li.timeline__item
                                            .timeline__year 20
                                                span 18
                                                .mark
                                            .timeline__text 
                                                p Новые линейки на рынке:
                                            ul.timeline-sublist.timeline-sublist--column
                                                li.timeline-sublist__item.timeline-sublist__item--column
                                                    a(href="").timeline-sublist__link.flex
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__right
                                                            p 
                                                                span Vektor 
                                                                | on/off сплит-системы с множеством полезных пользовательских функций
                                                            .timeline-sublist__title KFRI25IW
                                                li.timeline-sublist__item.timeline-sublist__item--column
                                                    a(href="").timeline-sublist__link.flex
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__right
                                                            p 
                                                                span Axioma 
                                                                | инверторная линейка, получившая сертификат на использование в медицинских и детских учреждениях 
                                                            .timeline-sublist__title KFRI25IW
                                        li.timeline__item
                                            .timeline__year 20
                                                span 19
                                                .mark
                                            .timeline__text 
                                                p Новая линейка
                                                    span Fortis Eco 
                                                    |– продолжение популярной модели Fortis в новом дизайне и с дополнительными сменными фильтрами в комплекте
                                            ul.timeline-sublist.timeline-sublist--column
                                                li.timeline-sublist__item.timeline-sublist__item--column
                                                    a(href="").timeline-sublist__link.flex
                                                        .timeline-sublist__img
                                                            img(src="img/pr/1.png", alt="")
                                                        .timeline-sublist__right
                                                            p 
                                                                span Vektor 
                                                                | on/off сплит-системы с множеством полезных пользовательских функций
                                                            .timeline-sublist__title KFRI25MW/ Eco
        include _footer
        script(src="js/jquery.min.js")
        script(src="js/ion.rangeSlider.min.js")
        script(src="js/swiper.min.js")
        script(src="js/main.js")
                    