<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UEL
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            include _header
            section.catalog-category
                .container
                    .b-back
                        a(href="").flex.aic
                            i.i-arrow--back
                            span Назад к списку категорий
                .background-line
                    .background-line__item.background-line__item-1
                    .background-line__item.background-line__item-2
                    .background-line__item.background-line__item-3
                    .background-line__item.background-line__item-4
                    .background-line__item.background-line__item-5
                    .background-line__item.background-line__item-6
                    .background-line__item.background-line__item-7
                .container.container-small
                    .catalog-category__top
                        .back-title pioneer
                        h1 Настенные кондиционеры Pioneer
                        ul.catalog-category__list.flex-wrap
                            li.catalog-category__item
                                a(href="").catalog-category__link
                                    span / Cплит система
                                    .catalog-category__img
                                        img(src="img/cat/1.png", alt="")
                                    .catalog-category__title Серия Artis
                            li.catalog-category__item
                                a(href="").catalog-category__link
                                    span / Cплит система
                                    .catalog-category__img
                                        img(src="img/cat/2.png", alt="")
                                    .catalog-category__title Серия Fortis
                            li.catalog-category__item
                                a(href="").catalog-category__link
                                    span / Cплит система
                                    .catalog-category__img
                                        img(src="img/cat/3.png", alt="")
                                    .catalog-category__title Серия Axioma
                            li.catalog-category__item
                                a(href="").catalog-category__link
                                    span / Cплит система
                                    .catalog-category__img
                                        img(src="img/cat/4.png", alt="")
                                    .catalog-category__title Серия Pacific
                            li.catalog-category__item.catalog-category__item--full
                                a(href="").catalog-category__link
                                    span / Cплит система
                                    .catalog-category__img
                                        img(src="img/cat/5.png", alt="")
                                    .catalog-category__title Мульти-сплит системы
                .detail__container
                    .detail__desc
                        p Самый популярный тип бытовых кондиционеров — настенные сплит-системы. В таких системах один блок находится на стене внутри помещения, а другой снаружи, блоки при этом соединены между собой медными трубами и электрическими кабелями.
                        p Настенные кондиционеры Pioneer — это ваш оптимальный выбор для создания комфортного климата. Главная задача, которую решают бытовые кондиционеры Пионер мощностью до 7 кВт — управление микроклиматом небольшого по площади помещения (до 80 кв. метров). Разумеется, сами системы обладают компактными размерами, что немаловажно, поскольку они становятся частью интерьера и должны подчиняться общей концепции дизайна
                    .detail__desc
                        h2 Возможности сплит-систем Pioneer
                        p В настенных кондиционерах последних моделей бренда реализованы инновационные технологии, системы и функции, облаченные в стильный дизайн. Кроме стандартных режимов работы – охлаждения и обогрева, сплит-системы Пионер осуществляют:
                        ul.detail__desc-list
                            li ионизацию (опционально);
                            li фильтрацию;
                            li осушение.
                        p Бытовые кондиционеры и сплит-системы Pioneer имеют высокий класс энергоэффективности – А, что позволяет экономить до 70 % на энергопотреблении, не теряя в производительности.
                        p Эргономичный внутренний блок кондиционеров Pioneer отличается низким уровнем шума – от 19 дБ, доступен для управления через пульт ДУ или Wi-Fi модуль и оборудован:
                        ul.detail__desc-list
                            li 4х-скоростным вентилятором для выбора оптимальной скорости подачи воздуха;
                            li отказоустойчивыми компрессорами;
                            li многоуровневой системой фильтрации;
                            li антикоррозийным покрытием Blue fin/Gold Fin (опционально).
                        p На нашем сайте представлены серии настенных кондиционеров Artis, Fortis, Fortis Eco, Axioma, Pacific, канальные, кассетные, настенно-потолочные модели, также мультисплит-системы.
                        strong Климатическая техника Pioneer продается с гарантией производителя на 3 года. 
                    .documentation
                        ul.documentation__list
                            li.documentation__item
                                a(href="").documentation__link.flex
                                    i.i-pdf
                                    .documentation__item-right
                                        p Официальное письмо. Модельный ряд Pioneer полупром сплиты
                                        span 3,4 мб
                            li.documentation__item
                                a(href="").documentation__link.flex
                                    i.i-pdf
                                    .documentation__item-right
                                        p Каталог Pioneer. Бытовое и полупромышленное оборудование (2019 г.)
                                        span 3,4 мб
        include _footer
        script(src="js/jquery.min.js")
        script(src="js/ion.rangeSlider.min.js")
        script(src="js/swiper.min.js")
        script(src="js/main.js")
                    