<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UEL
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            include _header
            section.primary
                .background-line
                    .background-line__item.background-line__item-1
                    .background-line__item.background-line__item-2
                    .background-line__item.background-line__item-3
                    .background-line__item.background-line__item-4
                    .background-line__item.background-line__item-5
                    .background-line__item.background-line__item-6
                    .background-line__item.background-line__item-7
                .container.container-small
                    .primary__back-title Artis
                    .primary__row.flex-wrap.aic
                        .primary__left
                            .primary__left-title «Artis» — комфорт как искусство!
                            p Кондиционеры серии Artis это гармоничное сочетание стильного дизайна, компактных размеров и высоких стандартов технических характеристик.
                            a(href="").btn.btn-border подробнее
                        .primary__right
                            .primary__right-top-container
                                .primary__right-top-back
                                .primary__right-top.swiper-wrapper
                                    .primary__right-top-img.swiper-slide
                                        img(src="img/pr/1.png", alt="")
                                    .primary__right-top-img.swiper-slide
                                        img(src="img/pr/1.png", alt="")
                                    .primary__right-top-img.swiper-slide
                                        img(src="img/pr/1.png", alt="")
                            .primary__right-top-pagination.flex.jcc
                            .primary__right-slider.swiper-container
                                ul.flex-wrap.primary__right-slider-list.swiper-wrapper
                                    li.primary__right-slider-item.swiper-slide(data-img="img/pr/2.png")
                                        .primary__right-slider-item-img
                                            .primary__right-slider-item-img-container
                                                img(src="img/pr/2.png", alt="")
                                        .primary__right-slider-item-progress
                                            span
                                        .primary__right-slider-item-title Cплит система серия «Artis»
                                    li.primary__right-slider-item.swiper-slide(data-img="img/pr/2.png")
                                        .primary__right-slider-item-img
                                            .primary__right-slider-item-img-container
                                                img(src="img/pr/2.png", alt="")
                                        .primary__right-slider-item-progress
                                            span
                                        .primary__right-slider-item-title Cплит система серия «Fortis»
                                    li.primary__right-slider-item.swiper-slide(data-img="img/pr/2.png")
                                        .primary__right-slider-item-img
                                            .primary__right-slider-item-img-container
                                                img(src="img/pr/2.png", alt="")
                                        .primary__right-slider-item-progress
                                            span
                                        .primary__right-slider-item-title Серия «Axioma»
                    .primary__blocks.flex-wrap.jcc
                        .primary__blocks-item
                            .primary__blocks-icon
                                img(src="img/icon/primary/1.svg", alt="")
                            h2 Для дома
                            p Серии кондиционеров и сплит систем для дома
                            a(href="").flex.aic
                                span Смотреть
                                .i-arrow
                        .primary__blocks-item
                            .primary__blocks-icon
                                img(src="img/icon/primary/2.svg", alt="")
                            h2 Для бизнеса
                            p Мощные решения для контроля температуры в условиях производства
                            a(href="").flex.aic 
                                span Полупромышленные кондиционеры
                                .i-arrow
                            a(href="").flex.aic 
                                span Мультизональные системы VRF
                                .i-arrow
            include _selection
            include _reviews
            section.description 
                .background-line
                    .background-line__item.background-line__item-1
                    .background-line__item.background-line__item-2
                    .background-line__item.background-line__item-3
                    .background-line__item.background-line__item-4
                    .background-line__item.background-line__item-5
                    .background-line__item.background-line__item-6
                    .background-line__item.background-line__item-7
                .container.container-small
                    .description__wrapper
                        .description__row.flex-wrap.aie
                            .description__col
                                .description__content
                                    h2 Кондиционеры и сплит системы PIONEER
                                    p.description__text.description__text_main Бытовая система кондиционирования — не роскошь, а естественное средство контроля климата в условиях городской квартиры или загородного дома. Одним из первых это подтвердил Pioneer. Под брендом Pioneer с 2000 года выпускается качественное оборудование, максимально эффективно регулирующее микроклимат в помещении. Богатство функций также играет важную роль, но производитель делает ставку в первую очередь на долговечность и надежность.
                            .description__col
                                .description__content
                                    .description__img
                                        img(src="img/desc/1.png", alt="")
                        .description__row.flex-wrap.aic
                            .description__col.description__col_image
                                .description__content
                                    .description__img
                                        img(src="img/desc/2.png", alt="")
                            .description__col
                                .description__content.description__content_background
                                    p.description__text На рынке представлено большое разнообразие доступных по цене сплит-систем и кондиционеров Пионер: это оборудование эконом- и бизнес-класса, полупромышленные установки, решения для телекоммуникационных объектов, паровые увлажнители воздуха.
                        .description__row.flex-wrap.aic
                            .description__col
                                .description__content.description__content_background
                                    p.description__text На рынке представлено большое разнообразие доступных по цене сплит-систем и кондиционеров Пионер: это оборудование эконом- и бизнес-класса, полупромышленные установки, решения для телекоммуникационных объектов, паровые увлажнители воздуха.
                            .description__col.description__col_image
                                .description__content
                                    .description__img
                                        img(src="img/desc/3.png", alt="")
                        .description__row.description__row_full-width.flex-wrap
                            .description__col.description__col_full-width
                                .description__content
                                    p.description__text.description__text_main Чтобы купить кондиционеры Пионер, выберите ближайшего дилера в вашем городе. Покупка у официального представителя гарантирует качество товара, большой выбор моделей и дополнительных аксессуаров, доступ к сервисному обслуживанию. Консультации специалистов упростят выбор оборудования, отвечающего вашим пожеланиям.
                                    .description__btn
                                        a(href="").btn.btn-border выбрать дилера
        include _footer
        script(src="js/jquery.min.js")
        script(src="js/ion.rangeSlider.min.js")
        script(src="js/swiper.min.js")
        script(src="js/main.js")
                    