<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UEL
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            include _header
            section.about
                .background-line
                    .background-line__item.background-line__item-1
                    .background-line__item.background-line__item-2
                    .background-line__item.background-line__item-3
                    .background-line__item.background-line__item-4
                    .background-line__item.background-line__item-5
                    .background-line__item.background-line__item-6
                    .background-line__item.background-line__item-7
                .back-title.back-title--animate pioneer
                .container
                    .about__row.flex-wrap
                        .about__col.about__col--sidebar
                            include _aside
                            ul.sidebar__list
                                +sidebar('О бренде')
                                +sidebar('Статьи', 'active')
                                +sidebar('Отзывы')
                                +sidebar('Референс-лист')
                                +sidebar('Сертификаты')
                        .about__col.about__col--content
                            .about__content
                                .detail-tabs__wrapper.about__tabs
                                    ul.detail-tabs__list.flex
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link О бренде
                                        li.detail-tabs__item.detail-tabs__item--active.active
                                            a(href="").detail-tabs__link Статьи
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Отзывы
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Референс-лист 
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Сертификаты
                                include _b-back
                                .post
                                    h1 Расчет кондиционера для помещения
                                    p Основная функция системы кондиционирования – поддержание в помещении температуры на заданном уровне. Современное оборудование способно не только охлаждать, но и нагревать или осушать воздух, поэтому удается добиться максимально благоприятного микроклимата, комфортного вне зависимости от сезона.
                                    img(src="img/posts/post.png", alt="")
                                    h3 Подбор кондиционера осуществляется, исходя из ряда параметров:
                                    ul.post__list
                                        li площадь помещения и высота потолка;
                                        li количество единиц техники;
                                        li сторона света;
                                        li источники тепла;
                                        li количество человек, постоянно находящихся в комнате.
                                    p Важно правильно рассчитать мощность, так как в том случае, если она окажется недооцененной, оборудование либо не обеспечит достижение заданных параметров, либо будет работать на повышенных оборотах. При переоценке мощности можно столкнуться с чрезмерным расходом энергии.
                                    p Расчет кондиционера для помещения вы сможете выполнить на сайте Pioneer-air.ru. Климатическое оборудование Pioneer – это широкий спектр бытовой и полупромышленной техники, предназначенной для жилых домов, офисов, гостиниц, ресторанов, складов, цехов и иных объектов. Помимо расчета кондиционера для помещения на сайте вы найдете актуальный список дилеров климатического оборудования в вашем регионе, а также перечень сервисных центров. Размещен также прайс-лист с ориентировочной стоимостью большинства моделей производителя.
                                    .post__info.flex.aic
                                        i.i-info
                                        .post__info-txt По многоканальному телефону 
                                            a(href="tel:8 (800) 200 02 40 ") 8 (800) 200 02 40 
                                            |вы сможете получить консультации по любым вопросам, связанным с оборудованием Pioneer.
                                include _navigation
        include _footer
        script(src="js/jquery.min.js")
        script(src="js/ion.rangeSlider.min.js")
        script(src="js/swiper.min.js")
        script(src="js/main.js")
                    