<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UEL
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            include _header
            section.about
                .background-line
                    .background-line__item.background-line__item-1
                    .background-line__item.background-line__item-2
                    .background-line__item.background-line__item-3
                    .background-line__item.background-line__item-4
                    .background-line__item.background-line__item-5
                    .background-line__item.background-line__item-6
                    .background-line__item.background-line__item-7
                .back-title.back-title--animate pioneer
                .container
                    .about__row.flex-wrap
                        .about__col.about__col--sidebar
                            include _aside
                            ul.sidebar__list
                                +sidebar('О бренде')
                                +sidebar('Статьи')
                                +sidebar('Отзывы')
                                +sidebar('Референс-лист', 'active')
                                +sidebar('Сертификаты')
                        .about__col.about__col--content
                            .about__content
                                .detail-tabs__wrapper.about__tabs
                                    ul.detail-tabs__list.flex
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link О бренде
                                        li.detail-tabs__item.detail-tabs__item--active.active
                                            a(href="").detail-tabs__link Статьи
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Отзывы
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Референс-лист 
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Сертификаты
                                include _b-back
                                .post
                                    .post__top
                                        h1 Гольф-клуб «Горки»
                                        span Ленинградская область
                                    p GORKI Golf Club — первый гольф-клуб в Северо-Западном регионе с чемпионским 18-луночным полем. 
                                    .post__gallery
                                        .post__gallery-current.swiper-container.js-post-gallery
                                            ul.post__gallery-current-list.swiper-wrapper
                                                -for(var i = 0; i < 8; i++)
                                                    li.post__gallery-current-item.swiper-slide
                                                        img(src="img/posts/post.png", alt="")
                                        .post__gallery-thumb.swiper-container.js-post-gallery-thumb
                                            ul.post__gallery-thumb-list.swiper-wrapper
                                                -for(var i = 0; i < 8; i++)
                                                    li.post__gallery-thumb-item.swiper-slide
                                                        img(src="img/posts/post.png", alt="")
                                    p К услугам гостей и членов Клуба просторный Клубный дом с двухэтажным рестораном и конференц-залом, спортивные площадки для футбола и волейбола. 
                                    h3 Подбор кондиционера осуществляется, исходя из ряда параметров:
                                    ul.post__list
                                        li площадь помещения и высота потолка;
                                        li количество единиц техники;
                                        li сторона света;
                                        li источники тепла;
                                        li количество человек, постоянно находящихся в комнате.
                                    p Важно правильно рассчитать мощность, так как в том случае, если она окажется недооцененной, оборудование либо не обеспечит достижение заданных параметров, либо будет работать на повышенных оборотах. При переоценке мощности можно столкнуться с чрезмерным расходом энергии.
                                include _navigation
        include _footer
        script(src="js/jquery.min.js")
        script(src="js/ion.rangeSlider.min.js")
        script(src="js/swiper.min.js")
        script(src="js/main.js")
                    