<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UEL
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            include _header
            section.about
                .background-line
                    .background-line__item.background-line__item-1
                    .background-line__item.background-line__item-2
                    .background-line__item.background-line__item-3
                    .background-line__item.background-line__item-4
                    .background-line__item.background-line__item-5
                    .background-line__item.background-line__item-6
                    .background-line__item.background-line__item-7
                .back-title.back-title--animate pioneer
                .container
                    .about__row.flex-wrap
                        .about__col.about__col--sidebar
                            include _aside
                            ul.sidebar__list
                                +sidebar('О бренде')
                                +sidebar('Статьи')
                                +sidebar('Отзывы')
                                +sidebar('Референс-лист')
                                +sidebar('Сертификаты', 'active')
                        .about__col.about__col--content
                            .about__content
                                .detail-tabs__wrapper.about__tabs
                                    ul.detail-tabs__list.flex
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link О бренде
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Статьи
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Отзывы
                                        li.detail-tabs__item
                                            a(href="").detail-tabs__link Референс-лист 
                                        li.detail-tabs__item.detail-tabs__item--active.active
                                            a(href="").detail-tabs__link Сертификаты
                                .sertificates
                                    h1 Сертификаты продукции Pioneer
                                    .sertificates__desc
                                        p Кондиционеры серии Artis это гармоничное сочетание стильного дизайна, компактных размеров и высоких стандартов технических характеристик. Тихий режим работы и ультранизкий уровень шума — до 23 дБ(А), лучшая длина трасс и перепад высот — все это удачно совмещено в новой серии.
                                    ul.documentation__list
                                        li.documentation__item
                                            a(href="sert/Свидетельство_ТЗ_Pioneer 2002.pdf" target="_blank" data-url='1').documentation__link.flex
                                                i.i-pdf
                                                .documentation__item-right
                                                    p Официальное письмо. Модельный ряд Pioneer полупром сплиты
                                                    span 3,4 мб
                                        li.documentation__item
                                            a(href="sert/Свидетельство_ТЗ_Pioneer.pdf" target="_blank" data-url='2').documentation__link.flex
                                                i.i-pdf
                                                .documentation__item-right
                                                    p Каталог Pioneer. Бытовое и полупромышленное оборудование (2019 г.)
                                                    span 3,4 мб
                                        li.documentation__item
                                            a(href="sert/Свидетельство_ТЗ_Pioneer 2002.pdf" target="_blank" data-url='1').documentation__link.flex
                                                i.i-pdf
                                                .documentation__item-right
                                                    p Стандарты по контролю за веществами, применяемыми для производства продуктов
                                                    span 3,4 мб
                                        li.documentation__item
                                            a(href="sert/Свидетельство_ТЗ_Pioneer.pdf" target="_blank" data-url='2').documentation__link.flex
                                                i.i-pdf
                                                .documentation__item-right
                                                    p Декларация REACH SVHC
                                                    span 3,4 мб
        include _footer
        script(src="js/jquery.min.js")
        script(src="js/ion.rangeSlider.min.js")
        script(src="js/swiper.min.js")
        script(src="js/lightgallery-all.min.js")
        script(src="js/main.js")
                    