<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UEL
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            include _header
            section.service
                .background-line
                    .background-line__item.background-line__item-1
                    .background-line__item.background-line__item-2
                    .background-line__item.background-line__item-3
                    .background-line__item.background-line__item-4
                    .background-line__item.background-line__item-5
                    .background-line__item.background-line__item-6
                    .background-line__item.background-line__item-7
                .back-title pioneer
                .container.container-small
                    .service__content
                        include _b-back
                        .service__content-top.flex-wrap.aic.jcsb
                            .service__content-top-left
                                span Россия
                                h1 Санкт-Петербург
                            ul.service-tabs.flex
                                li.service-tabs__item.active
                                    a(href="").service-tabs__link Списком
                                li.service-tabs__item
                                    a(href="").service-tabs__link На карте
                        .service-tabs__content
                                .service-tabs__content-item.active
                                    ul.service__list
                                        li.service__item
                                            .service__title ООО "Прохолод"
                                            .service__row.flex-wrap
                                                .service__col
                                                    .service__col-title Дилерский склад: 
                                                    p пр. Стачек, дом 45, корп.2, литер А, пом. 615
                                                    a(href="").js-open-map Показать на карте
                                                .service__col
                                                    .service__col-title Телефон:
                                                    a(href="tel:+7 (812) 703-59-82") +7 (812) 703-59-82
                                                .service__col
                                                    .service__col-title Email:
                                                    a(href="mailto:lcv@mail.ru") lcv@mail.ru
                                                .service__col
                                                    .service__col-title Сайт: 
                                                    a(href="") www.вент-сервис.рф
                                            .service__map
                                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A893fe2eaf8743fd427f97948b27e21d8916faeee93c56587409bc4ea61c66713&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                                        li.service__item
                                            .service__title ООО "ВЕНТХОЛОДСЕРВИС"
                                            .service__row.flex-wrap
                                                .service__col
                                                    .service__col-title Дилерский склад: 
                                                    p пр. Стачек, дом 45, корп.2, литер А, пом. 615
                                                    a(href="").js-open-map Показать на карте
                                                .service__col
                                                    .service__col-title Телефон:
                                                    a(href="tel:+7 (812) 703-59-82") +7 (812) 703-59-82
                                                .service__col
                                                    .service__col-title Email:
                                                    a(href="mailto:lcv@mail.ru") lcv@mail.ru
                                                .service__col
                                                    .service__col-title Сайт: 
                                                    a(href="") www.вент-сервис.рф
                                            .service__map
                                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A893fe2eaf8743fd427f97948b27e21d8916faeee93c56587409bc4ea61c66713&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                                        li.service__item
                                            .service__title ООО "Прохолод"
                                            .service__row.flex-wrap
                                                .service__col
                                                    .service__col-title Дилерский склад: 
                                                    p пр. Стачек, дом 45, корп.2, литер А, пом. 615
                                                    a(href="").js-open-map Показать на карте
                                                .service__col
                                                    .service__col-title Телефон:
                                                    a(href="tel:+7 (812) 703-59-82") +7 (812) 703-59-82
                                                .service__col
                                                    .service__col-title Email:
                                                    a(href="mailto:lcv@mail.ru") lcv@mail.ru
                                                .service__col
                                                    .service__col-title Сайт: 
                                                    a(href="") www.вент-сервис.рф
                                            .service__map
                                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A893fe2eaf8743fd427f97948b27e21d8916faeee93c56587409bc4ea61c66713&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                                        li.service__item
                                            .service__title ООО "ВЕНТХОЛОДСЕРВИС"
                                            .service__row.flex-wrap
                                                .service__col
                                                    .service__col-title Дилерский склад: 
                                                    p пр. Стачек, дом 45, корп.2, литер А, пом. 615
                                                    a(href="").js-open-map Показать на карте
                                                .service__col
                                                    .service__col-title Телефон:
                                                    a(href="tel:+7 (812) 703-59-82") +7 (812) 703-59-82
                                                .service__col
                                                    .service__col-title Email:
                                                    a(href="mailto:lcv@mail.ru") lcv@mail.ru
                                                .service__col
                                                    .service__col-title Сайт: 
                                                    a(href="") www.вент-сервис.рф
                                            .service__map
                                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A893fe2eaf8743fd427f97948b27e21d8916faeee93c56587409bc4ea61c66713&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                                        li.service__item
                                            .service__title ООО "Прохолод"
                                            .service__row.flex-wrap
                                                .service__col
                                                    .service__col-title Дилерский склад: 
                                                    p пр. Стачек, дом 45, корп.2, литер А, пом. 615
                                                    a(href="").js-open-map Показать на карте
                                                .service__col
                                                    .service__col-title Телефон:
                                                    a(href="tel:+7 (812) 703-59-82") +7 (812) 703-59-82
                                                .service__col
                                                    .service__col-title Email:
                                                    a(href="mailto:lcv@mail.ru") lcv@mail.ru
                                                .service__col
                                                    .service__col-title Сайт: 
                                                    a(href="") www.вент-сервис.рф
                                            .service__map
                                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A893fe2eaf8743fd427f97948b27e21d8916faeee93c56587409bc4ea61c66713&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                                        li.service__item
                                            .service__title ООО "ВЕНТХОЛОДСЕРВИС"
                                            .service__row.flex-wrap
                                                .service__col
                                                    .service__col-title Дилерский склад: 
                                                    p пр. Стачек, дом 45, корп.2, литер А, пом. 615
                                                    a(href="").js-open-map Показать на карте
                                                .service__col
                                                    .service__col-title Телефон:
                                                    a(href="tel:+7 (812) 703-59-82") +7 (812) 703-59-82
                                                .service__col
                                                    .service__col-title Email:
                                                    a(href="mailto:lcv@mail.ru") lcv@mail.ru
                                                .service__col
                                                    .service__col-title Сайт: 
                                                    a(href="") www.вент-сервис.рф
                                            .service__map
                                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A893fe2eaf8743fd427f97948b27e21d8916faeee93c56587409bc4ea61c66713&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                                        li.service__item
                                            .service__title ООО "Прохолод"
                                            .service__row.flex-wrap
                                                .service__col
                                                    .service__col-title Дилерский склад: 
                                                    p пр. Стачек, дом 45, корп.2, литер А, пом. 615
                                                    a(href="").js-open-map Показать на карте
                                                .service__col
                                                    .service__col-title Телефон:
                                                    a(href="tel:+7 (812) 703-59-82") +7 (812) 703-59-82
                                                .service__col
                                                    .service__col-title Email:
                                                    a(href="mailto:lcv@mail.ru") lcv@mail.ru
                                                .service__col
                                                    .service__col-title Сайт: 
                                                    a(href="") www.вент-сервис.рф
                                            .service__map
                                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A893fe2eaf8743fd427f97948b27e21d8916faeee93c56587409bc4ea61c66713&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                                        li.service__item
                                            .service__title ООО "ВЕНТХОЛОДСЕРВИС"
                                            .service__row.flex-wrap
                                                .service__col
                                                    .service__col-title Дилерский склад: 
                                                    p пр. Стачек, дом 45, корп.2, литер А, пом. 615
                                                    a(href="").js-open-map Показать на карте
                                                .service__col
                                                    .service__col-title Телефон:
                                                    a(href="tel:+7 (812) 703-59-82") +7 (812) 703-59-82
                                                .service__col
                                                    .service__col-title Email:
                                                    a(href="mailto:lcv@mail.ru") lcv@mail.ru
                                                .service__col
                                                    .service__col-title Сайт: 
                                                    a(href="") www.вент-сервис.рф
                                            .service__map
                                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A893fe2eaf8743fd427f97948b27e21d8916faeee93c56587409bc4ea61c66713&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                                .service-tabs__content-item
                                    .service-map-list
                                        .service-map-list__map
                                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A893fe2eaf8743fd427f97948b27e21d8916faeee93c56587409bc4ea61c66713&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                                        .service-map-list__info
                                            .close.js-close-map-info
                                                i.i-close.i-close--black
                                            .service-map-list__info-title ООО "Вентхолодсервис"
                                            ul.service-map-list__info-contacts.flex-wrap
                                                li.service-map-list__info-contacts-item
                                                    span Телефон:
                                                    a(href="tel:+7 (812) 703-59-82") +7 (812) 703-59-82
                                                li.service-map-list__info-contacts-item
                                                    span Email:
                                                    a(href="mailto:lcv@mail.ru") lcv@mail.ru
                                                li.service-map-list__info-contacts-item
                                                    span Сайт:
                                                    a(href="") www.вент-сервис.рф
                                                li.service-map-list__info-contacts-item
                                                    span Дилерский склад:
                                                    p пр. Стачек, дом 45, корп.2, литер А, пом. 615
        include _footer
        script(src="js/jquery.min.js")
        script(src="js/ion.rangeSlider.min.js")
        script(src="js/swiper.min.js")
        script(src="js/main.js")
                    