<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UEL
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            include _header
            section.service
                .background-line
                    .background-line__item.background-line__item-1
                    .background-line__item.background-line__item-2
                    .background-line__item.background-line__item-3
                    .background-line__item.background-line__item-4
                    .background-line__item.background-line__item-5
                    .background-line__item.background-line__item-6
                    .background-line__item.background-line__item-7
                .back-title pioneer
                .container.container-small
                    .service__content
                        h1 Сервисное обслуживание
                        .service__desc.flex-wrap
                            .service__desc-txt.service__desc-col
                                p Кондиционеры Pioneer изготовлены на заводах ведущих производителей. Товары проходят тщательный контроль качества и имеют все необходимые сертификаты. Для выполнения гарантийных обязательств нами создана обширная сеть гарантийных сервисных центров (ГСЦ) на территории РФ.
                                p Для приобретения запчастей ознакомьтесь с информацией на 
                                    a(href="") сайте United Elements.
                            .service__desc-info.service__desc-col
                                .service__desc-info-wrapper.flex
                                    i.i-info
                                    .service__desc-info-right
                                        p В случае наступления гарантийного случая Вы можете обращаться по единому номеру:
                                        a(href="tel:8-800-200-02-40") 8-800-200-02-40
                        .service-city
                            .service-city__country
                                .service-city__title Россия
                                ul.service-city__list.flex-wrap
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Москва
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Казань
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Новосибирск
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Сыктывкар
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Московская обл.
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Калининград
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Новый Уренгой
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Тольятти
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Санкт-Петербург
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Кемерово
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Пермь
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Томск
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Белгород
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Краснодар
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Самара
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Ярославль
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Краснодар
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Самара
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Ярославль
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Краснодар
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Самара
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Ярославль
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Краснодар
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Самара
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Ярославль
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Краснодар
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Самара
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Ярославль
                                            i.i-arrow--red
                            .service-city__country
                                .service-city__title Украина
                                ul.service-city__list.flex-wrap
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Киев
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Харьков
                                            i.i-arrow--red
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Одесса
                                            i.i-arrow--red
                            .service-city__country
                                .service-city__title Беларусь
                                ul.service-city__list.flex-wrap
                                    li.service-city__item
                                        a(href="").service-city__link.flex.aic Минск
                                            i.i-arrow--red



        include _footer
        script(src="js/jquery.min.js")
        script(src="js/ion.rangeSlider.min.js")
        script(src="js/swiper.min.js")
        script(src="js/main.js")
                    